.single-post  {
    h2 {
        margin-top: 40px;
    }
}

.c-blog-single-inner {
    border: 1px solid #ccc;
    padding: 45px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.c-single-premeta {
    display: flex;
    justify-content: space-between;
    a {
        color: $color-black;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:6px;
        a {
            display: flex;
        justify-content: center;
        align-items: center;
        gap:6px;

        }
    }
  }

  .c-social-share {
    margin-top: 80px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .a2a_kit {

   
  
   a {
    color: $color-black; 
    margin-right: 20px;
    svg {
        
        
        fill: $color-black;
    }
   }
  }

  .c-blog-card {
    display: flex !important;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    justify-content: center;
    min-height: 257px;
    > div {
        height: auto !important;
        width: 100%;
    }
    .piotnetgrid-section__container {
        height: 100%;
    }
  }

  .c-blog-card-img {
    width: 350px;
    position: relative;
    padding: 0 !important;
    .piotnetgrid-image {
        height: 100%;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
  }

  .c-blog-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 350px);
    padding: 20px 40px !important;
   
  }

  .c-flex-card {
    .wp-block-group  {
        width: 100% !important;
    }
  }