/* ==========================================================================
   HEADER
   ========================================================================== */
.c-page-header {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  z-index: 100;
  position: relative;
}

.c-page-header-lower {
  background: #fff; 
 
  height: 80px;  
  padding-left: 25px;
  padding-right: 25px;
  // enable styles below for usage with headroom.js
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: z(overlay);
}

.c-social-links {
  display: inline-flex;
  margin-left: 15px;
  a {
    // background-color: $color-pink;
    border-radius: 3px;
    padding: 3px;
    // width: 20px;
    // height: 20px;
    margin-left: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: $color-gray;
    };
  }
}

