/* ==========================================================================
   MAIN LOGO
   ========================================================================== */

.c-logo-main {
  position: absolute;
  top: 10px;
  z-index: z(default);
  & a {
    display: block;
  }
  & img {
    top: 9px;
    display: block;
    width: 120px;
    height: auto;
    position: relative;
    max-height: $page-header-height;
    @media (width >= $bp-medium) {
      width: 115px;
      top: 10px;
     } 
    @media(width >= 1038px) {
      width: 150px;
      top: 6px;
    } 
    
  }
}
